@model string
@{
    ViewData["Title"] = "Greetings";
}
<style>

body { background-image: url("https://res.cloudinary.com/teepublic/image/private/s--csECkG9h--/t_Preview/b_rgb:191919,c_limit,f_jpg,h_630,q_90,w_630/v1474130022/production/designs/686866_1.jpg"); background-size: 100%; }
</style>

<h2><font face="verdana", color="white", size="30">Ave @Model! In vino veritas.</font></h2>

