
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SPQR</h1>
<form action="/" method="post">
    <style>

        body {
            background-image: url("");
            height ="100"px width="100"px;
        }
    </style>
    <div>
        <label for="uname">Quid tibi nomen est? </label>
        <input type="text" id="uname" name="name">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>