
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Anyáddalszórakozzá</h1>
<form action="/" method="post">
    <div>
        <label for="uname">Choose a username: </label>
        <input type="text" id="uname" name="name">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>