@model Orc
@{
    ViewData["Title"] = "Lok'tar ogar";
}

<body style="background-color: rgb(17, 17, 17);">

    <h2><font face="verdana", color="white", size="30">Lok'tar ogar @Model.Name!</font></h2>

    <img style="padding: 20px;" src="https://78.media.tumblr.com/90f38252d3071f940908424432641c7c/tumblr_mwqsx6lcen1s96gdmo1_500.gif">

</body>


