@model Orc
@{
    ViewData["Title"] = "Lok'tar ogar";
}

<body style="background-image: url('https://vignette.wikia.nocookie.net/wow/images/0/0b/Orgrimmar_Grommash_Hold.jpg/revision/latest?cb=20140121215823')";>


    <h2><font size="30">Lok'tar ogar @Model.Name!</font></h2>

    <img style="padding: 20px;" src="https://78.media.tumblr.com/90f38252d3071f940908424432641c7c/tumblr_mwqsx6lcen1s96gdmo1_500.gif">

    <p><font size="10">This is @Model.Name</font></p>

</body> 


