@model string
@{
    ViewData["Title"] = "Lok'tar ogar";
}
<style>
    <img src="img_girl.jpg" alt="Girl in a jacket" >
    body {
    }
</style>

<h2><font face="verdana" , color="white" , size="30">Lok'tar ogar @Model!</font></h2>

