
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to Orc Club! Login or create your orc!</h2>
<form action="/" method="post">
    <style>

    body { background-image: url("https://vignette.wikia.nocookie.net/wowwiki/images/8/8e/Orgrimmar_in_5.2.jpg/revision/latest?cb=20130329233819");}
    </style>
    <div>
        <label for="uname">What is your name?</label>
        <input type="text" id="uname" name="name">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
